In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pyreadr # NB:pip install pyreadr

In [7]:
result = pyreadr.read_r('/Users/henrybaker/Documents/repositories/ML_final_project/data/easySHARE_rel8_0_0.rda')

df = result['easySHARE_rel8_0_0']

In [8]:
df.describe()

,wave,wavepart,int_version,int_year,int_month,country,country_mod,language,female,dn002_mod,...,ep036_mod,co007_,thinc_m,income_pct_w1,income_pct_w2,income_pct_w4,income_pct_w5,income_pct_w6,income_pct_w7,income_pct_w8
count,412110.000000,4.121100e+05,412110.000000,412110.000000,412110.000000,412110.000000,412110.00000,412110.000000,412110.000000,412110.000000,...,412110.000000,412110.000000,4.121100e+05,412110.000000,412110.000000,412110.000000,412110.000000,412110.000000,412110.000000,412110.000000
mean,5.035566,9.878451e+05,-0.329808,2013.066878,5.771369,22.989510,378.23873,23.796773,0.564985,6.306149,...,-7.144808,1.325758,8.085984e+05,-11.634709,-11.364342,-10.396697,-10.034709,-9.944590,-11.913404,-10.902907
std,2.084000,3.082496e+06,3.483038,4.390305,3.136292,11.226464,234.46090,11.643956,0.495760,3.466630,...,5.274528,4.769976,8.591956e+07,4.898820,5.302164,6.522148,6.883283,6.966814,3.472691,5.943089
min,1.000000,1.000000e+00,-13.000000,2004.000000,1.000000,11.000000,40.00000,11.000000,0.000000,-15.000000,...,-15.000000,-15.000000,-9.972739e+03,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000
25%,4.000000,7.800000e+01,0.000000,2011.000000,3.000000,15.000000,208.00000,15.000000,0.000000,3.000000,...,-9.000000,2.000000,1.027684e+03,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000
50%,5.000000,4.567000e+03,1.000000,2013.000000,5.000000,19.000000,300.00000,19.000000,1.000000,6.000000,...,-9.000000,3.000000,1.582463e+04,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000
75%,7.000000,4.567800e+04,1.000000,2017.000000,8.000000,29.000000,616.00000,29.000000,1.000000,9.000000,...,-9.000000,4.000000,3.137558e+04,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000,-13.000000
max,8.000000,1.234568e+07,1.000000,2020.000000,12.000000,63.000000,756.00000,65.000000,1.000000,12.000000,...,5.000000,4.000000,9.592648e+09,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [9]:
df.columns

Index(['mergeid', 'hhid', 'coupleid', 'wave', 'wavepart', 'int_version',
       'int_year', 'int_month', 'country', 'country_mod',
       ...
       'ep036_mod', 'co007_', 'thinc_m', 'income_pct_w1', 'income_pct_w2',
       'income_pct_w4', 'income_pct_w5', 'income_pct_w6', 'income_pct_w7',
       'income_pct_w8'],
      dtype='object', length=107)

In [ ]:
df.isna().sum()

mergeid          0
hhid8            0
mergeidp8        0
coupleid8        0
country          0
language         0
ac012_         129
ac014_         129
ac015_         129
ac016_         129
ac017_         129
ac018_         129
ac019_         129
ac020_         129
ac021_        1408
ac022_         130
ac023_         130
ac024_         130
ac025_         130
ac035d1        641
ac035d4        641
ac035d5        641
ac035d7        641
ac035d8        641
ac035d9        641
ac035d10       641
ac035dno       641
ac036_1      39417
ac036_4      42101
ac036_5      34599
ac036_7      43992
ac036_8      13868
ac036_9      27055
ac036_10     34065
ac037_        9469
ac038_       38296
ac701_       36693
ac702_       36693
ac703_       36693
ac704_       36693
ac705_       36693
ac706_       36693
ac707_       36693
ac708_       36693
ac709_       36693
ac710_       36693
ac711_       36693
ac740_         131
dtype: int64

In [10]:
shape_of_dataframe = df.shape

print(f"No. of samples: {shape_of_dataframe[0]}")
print(f"No. of columns: {shape_of_dataframe[1]}")

No. of samples: 412110
No. of columns: 107